/* lab 12 part 2 */
body {
	font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
}

p {
    color: #9C5EDE;
}
h1 {
    color: ##FFFFFF;
}
h2 {
    color: ##FFFFFF;
}
h3 {
    color: ##FFFFFF;
}
